@model Book

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.BookTitle</h5>
            <p class="card-text"><b>Publisher: </b>@Model.BookPublisher</p>
            <p class="card-text"><b>ISBN: </b>@Model.BookISBN</p>
            <p class="card-text"><b>Category: </b>@Model.BookCategory</p>
            <p class="card-text"><b>Pages: </b>@Model.BookPages</p>
            <a href="#" class="btn btn-primary">Buy Here!</a>
        </div>
    </div>
</div>